
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("./assest/icons/material/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2") format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,form {
    display: flex;
    min-height: 20vh;
    justify-content: center;
    align-items: center;
    direction: rtl;
}

form input, form button {
    font-size: 2rem;
    direction: rtl;
    padding: 0.5rem;
    background-color: white;
    border: none;
}

form input[type="text"], form input[type="number"] {
    border: 1px solid #777777;
    border-radius: 5px;
    margin-left: 5px;
}

form input:focus {
    outline: none;
}

form button {
    background-color:rgb(224, 129, 61);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form button:hover {
    background-color: rgb(226, 113, 32);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}

.type-number {
    position: relative;
    overflow: hidden;
    margin: 1rem;
}

.type-number::after,.select::after {
    content: "\25BC";
    position: absolute;
    background-color:rgb(224, 129, 61) ;
    color: white;
    padding: 1rem;
    top: 0;
    left: 0;
    height: 100%;
    pointer-events: none;
    transition: all 0.3s ease;
}

select {
    color: #777777;
    width: 10rem;
    padding: 1rem;
    border: 1px solid #777777;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    direction: rtl;
    font-size: 1.5rem;
    border: 1px solid #777777;
    transition: all 0.3s ease;
    opacity: 1;
}

.todo-item {
    flex: 1;
    padding: 0rem 0.5rem;
    text-align: right;
    display: flex;
    flex-flow: column;
}

.todo-item span {
    font-size: 16px;
    color: #777777;
}

.trash-button {
    background-color:rgb(224, 129, 61) ;
    border: none;
    padding: 2rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.fall {
    transform: translateY(300%) rotateZ(250deg);
    opacity: 0;
    transition: all 2s ease;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    min-width: 30%;
}

.filter-todo {
    width: 100%;
    direction: rtl;
    display: none;
}

.material-icons {
    pointer-events: none;
}